.references {
    margin-top: 25px;
}

.editor--child {
    padding-left: 6px;
}

.editor__children {
    margin-left: 20px;
    display: flex;

    .editor--root > & {
        margin-left: -20px;
    }
}

.editor__children__container {
    width: 100%;
}

.editor__children__thread-line {
    position: relative;
    width: 7px;
    left: -6px;
    cursor: pointer;
    border-right: 1px solid white;

    &:hover {
        left: -5px;
        border-right: 3px solid white;
    }
}