.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar {
    flex: 1;
    min-height: 100vh;
}

#left-sidebar {
    min-width: 250px;
    max-width: 250px;
}

#right-sidebar {
    display: none;
    flex: 1 0 35%;
    max-width: 30vw;
    flex-direction: column;
    background-color: #24272b;
}

#right-sidebar.active {
    display: flex;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#left-sidebar.active {
    margin-left: -250px;
}

#main {
    flex: 1 1 65%;
    overflow: hidden;
}

#content {
    /* padding: 7vh 25vw; */
    padding: 5% 25%;
}


@media (max-width: 992px) {
    #content {
        padding: 7ch 10vw;
    }
}

textarea {
    display: block;
    border: 0;
    background-color: transparent;
    width: 100%;
    resize: none;
    color: #f8f9fa !important;
    outline: none;
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 10px 0;
    padding: 0;
}

#popup {
    position: absolute;
    top: 500px;
    left: 500px;
    display: none;
    margin: auto;
    background-color: lightcoral;
    height: 100px;
    width: 300px;
}

.popup-list {
    display: inline;
    padding: 0;
}

.popup-element {
    list-style-type: none;
    background-color: brown;
    cursor: pointer;
}

.line {
    cursor: text;
    min-height: 24px;
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 10px 0;
}

.line-readOnly {
    margin: 10px 0;
}

.link {
    color: lightskyblue;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

#links {
    margin-top: 100px;
}

.sidebar-page-header {
    display: flex;
    align-items: center;
}

.sidebar-page-toggle {
    font-size: 36px;
    margin-right: 5px;
    padding: 0 5px;
    cursor: pointer;
}

.sidebar-page-title {
    margin: 7px auto 0 0;
}

.sidebar-page-close {
    margin: 0 0 3px 10px;
    color: white !important;
}

.sidebar-page-ref-button {
    margin-top: 3px;
}

.sidebar-page-block {
    padding: 0 20px;
}