@import "../../index.scss";

.block {
    display: flex;
    width: 100%;
}

.block-text {
    @extend .text-light;
    overflow: hidden;
    width: 100%;
    cursor: text;
}

.block-text--edit {
    width: 100%;
    background: transparent;
    outline-color: transparent;
    border: 1px solid transparent;
    resize: none;
    border-style: none;
    outline: none;
    padding: 0;
    margin-bottom: -2px;
}

.block-text--title {
    @extend .h1;
    @extend .d-block;
    margin-bottom: 32px;

    &.block-text--edit {
        margin-bottom: 29px;
    }
}

.block__autocomplete-container {
    position: relative;
    width: 100%;
}
