@import "../../index.scss";

.block {
    display: flex;
}

.block-actions-container {
    margin-right: 10px;
}

.block-text--edit {
    width: 100%;
    background: transparent;
    outline-color: transparent;
    border: 1px solid transparent;
    resize: none;
    border-style: none;
    overflow: auto;
    outline: none;
    margin-left: -1px;
}

.block-text--title {
    @extend .h1;
    @extend .d-block;
    @extend .text-light;
    margin-bottom: 32px;
}

.block-actions {
    cursor: pointer;
}

.block-actions--toggle {
    opacity: 0;
    font-size: 14px;
    transition: opacity 0.1s ease-in-out;
    margin-right: 3px;

    &:hover {
        opacity: 1;
    }
}

