@import "../../index.scss";

.block--edit {
    width: 100%;
    background: transparent;
    outline-color: transparent;
    border: 1px solid transparent;
    resize: none;
    border-style: none;
    overflow: auto;
    outline: none;
    margin-left: -1px;
}

.block--title {
    @extend .h1;
    @extend .d-block;
    @extend .text-light;
    margin-bottom: 32px;
}