.block-actions-container {
    margin-right: 10px;
    display: flex;
}

.block-actions {
    cursor: pointer;
}

.block-actions--toggle {
    opacity: 0;
    font-size: 14px;
    transition: opacity 0.1s ease-in-out;
    margin-right: 3px;

    .block-actions-container:hover & {
        opacity: 1;
    }
}