.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar__search {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    position: relative;
}

.navbar__search-results {
    position: absolute;
    width: 100%;
    top: 40px;
}

.btn--toggle-favorite {
    padding: 0 0 5px;
    width: 30px;
    box-shadow: none;
    margin-left: 10px;

    &:focus {
        box-shadow: none;
    }
}